
.conew{
    text-align: center;
}
   .frm{
    /*margin-left:50%;*/
    padding-left: 50%
   };

.fm{
     width: 350px;  
    margin:0 auto; 
    align-items: center;
}
   .nav{
    margin:auto;
   }

   .delete-camp{
    display:inline;
   }

.well{
    border: 1px solid rgba(39, 105, 146, 0.438);
    background-color: rgba(39, 105, 146, 0.438);
    width: 100%;
}

#comm{
    margin-left: 10px;

  }
   .comment{
     border: 1px solid white;}
     
#da{
    align-items: right;
}
.d-flex {

    overflow: hidden;
}
/*
.comt{
    display: flex;
    text-align: right;
}


#comy{
    margin-left: 660px;
} */
