 <%- include('partials/header.ejs') %>
<h1>WELCOME TO YELPCAMP</h1>
 <h3>click the link below to see all the campgrounds available</h3>
 <a href="/campgrounds">click here to see campgrounds</a>
 <%- include('partials/footer.ejs') %>