<%- include ('partials/header.ejs') %> 
<h1>login</h1>
<form method="post" action="/login" >
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>login</button>
</form>

<%- include('partials/footer.ejs')%>