<%- include ('partials/header.ejs') %> 
 <h1>sign up</h1>
<form method="post" action="/register" >
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Sign up</button>
</form>

<%- include('partials/footer.ejs')%>